@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set a default font family for the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent; /* Ensure background is transparent */
  color: white; /* Ensure text color is white */
}

/* Add other global styles here */
html, body, #__next {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.image-container {
  margin-right: 20px; /* Adjust this value to increase/decrease space between image and text */
}

.glowing-border {
  border: 2px solid transparent;
  box-shadow: 0 0 20px cyan;
  border-radius: 12px;
  width: auto;
  height: auto;
  background: transparent; /* Ensure background is transparent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-bold-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.small-text {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.price-remaining {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
}

.price-remaining-large {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.mint-button {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  background-color: cyan;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px cyan;
}

.green-box {
  color: white;
  background-color: green;
  border-radius: 8px;
  padding: 0.2rem 0.6rem;
  display: inline-block;
}

.red-box {
  background-color: red;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.gray-box {
  border: 2px solid gray;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  display: inline-block;
  color: gray;
}

/* New styles for the green border box */
.green-border-box {
  border: 4px solid green;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  display: inline-block;
  max-width: 90%;
}

/* Ensure hidden button is truly hidden */
.hidden-button {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom-button {
  background-color: transparent; /* Make the inside of the button transparent */
  color: white; /* Change text color to white */
  border: 2px solid cyan; /* Cyan borders */
  border-radius: 4px; /* Less rounded corners */
  padding: 12px 24px; /* Increase padding for a bigger button */
  width: 310px; /* Set the button width to 370px */
  font-family: 'Orbitron', sans-serif; /* Change the font family */
  box-shadow: 0 0 10px 2px cyan; /* Add a small cyan shadow */
  text-align: center; /* Center text */
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-size: 1.2rem; /* Increase font size */
  margin: 0 auto; /* Center the button horizontally */
}
